---
---

@import "{{ site.theme }}";
.page-header{
  color:#fff;
  text-align: center;
  background-color: #000000;
  background-image: linear-gradient(120deg, #2c0000, #002d00);
  /*
  background-image: url(../img/beerbackground.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  */
}
.body {
  background-color: #006400; /* Christmas-themed dark green */
  color: #006400; /* white */
  background-image: linear-gradient(120deg, #2c0000, #002d00);
}
.background_beer {  
  background-image: url(../img/beerbackground.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
}

.project-name {
  --color1: #3ca781;
  --color2: #ff4d6f;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 46px;
  background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}

.description-project {
  --color1: #ffffff;
  --color2: #ff4d6f;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 46px;
  background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}

@keyframes move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}

$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,255,255,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 { 
    0%, 100% { background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);} 
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
}
@keyframes flash-2 { 
    0%, 100% { background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,1);} 
    50% { background: rgba(0,255,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
}
@keyframes flash-3 { 
    0%, 100% { background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);} 
    50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}



$bottle-width:   12px;
$bottle-height:  28px;
$bottle-spacing: 40px;
$bottle-spread: 3px;
$bottle-off-opacity: 0.4;

.bottlerope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $bottle-width;
    height: $bottle-height;
    border-radius: 50%;
    background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
    margin: $bottle-spacing/2;
    display: inline-block;
    background: rgba(139,69,19,1);
    box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(139,69,19,1);
    animation-name: bflash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,100,0,1);
      box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(0,100,0,0.5);
      background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
      animation-name: bflash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(139,69,19,1);
      box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(139,69,19,1);
      background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
      animation-name: bflash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($bottle-width - 2);
      height: $bottle-height/3;
      border-radius: 3px;
      top: (0 - ($bottle-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $bottle-height/2);
      left: $bottle-width - 3;
      position: absolute;
      width: $bottle-spacing + 12;
      height: ($bottle-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$bottle-spacing;
    }
  }
}
@keyframes bflash-1 { 
    0%, 100% { background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
    background-size: cover;
    box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(139,69,19,1);} 
    50% { background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
    background-size: cover;
    box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(139,69,19,$bottle-off-opacity);}
}
@keyframes bflash-2 { 
    0%, 100% { background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
    background-size: cover;
    box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(0,100,0,1);} 
    50% { background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
    background-size: cover;
    box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(0,100,0,$bottle-off-opacity);}
}
@keyframes bflash-3 { 
    0%, 100% { background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
    background-size: cover;
    box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(139,69,19,1);} 
    50% { background: url(../img/Screenshot_2022-12-20_135652-removebg-preview.png) no-repeat;
    background-size: cover;
    box-shadow: 0px $bottle-height/6 $bottle-width*2 $bottle-spread rgba(139,69,19,$bottle-off-opacity);}
}

/* Colors */
$colorCollection: (#D00010, #FEC641, #63C13B, #FE0016, #5C6C94, #6B0D05, #7D0006, #DB1913, #FEE34A, #2F8A27);
// $colorCollection: (#F4A43B, #0AB1AA, #FDFEE4, #F42618, #ADFEDD, #FF5F24, #FEF14F, #FD361B, #30398D, #FEE086);
// $colorCollection: (#FCF1BD);

/* Config */
$lights: 60; // match lights in mark up
$textColor: #FFFFFF;
$totalAnimation: 5;
$lightSize: 75;
$blurLevel: 2;

/* Pretty Lights */
.bokeh{
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: -50px;
  left: -25px;
}

.light{
	position: absolute;
	border-radius: 50%;
	opacity: 0;
}

@for $i from 1 through $lights{
	$lightWidth: $lightSize + random(25);
	$lightHeight: $lightWidth;
	$lightVertical: random(100);
	$lightHorizontal: random(100);
	$lightBlur: $blurLevel + random($blurLevel);
	$lightDelay: 10 + random(25);
	$animation: 1 + random($totalAnimation);

	.light:nth-child(#{$i}){
		width: $lightWidth + px;
		height: $lightHeight + px;
		top: #{$lightVertical + "%"};
		left: #{$lightHorizontal + "%"};
		background: nth($colorCollection, random(length($colorCollection)));
     filter: blur($lightBlur + px);
		animation: #{$lightDelay + s} #{"light" + $animation} linear infinite;
	}
}

@for $i from 1 through $totalAnimation{
	@keyframes light#{$i} {
		25%{
			opacity: (25 + random(50)) * 0.01;
		}
		50%{
			opacity: 0;
		}
		75%{
			opacity: (25 + random(50)) * 0.01;
		}
		100%{
			opacity: 0;
		}
	}
}

